* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 60.5%;
}

/*body*/

body {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    font-family: "Poppins",Arial, sans-serif;
    background: #aaaaaa;
    color: white;
}

/*background*/

body {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

@media screen and (min-width: 1024px) {
  body {
    background-image: none;
    background-color: #a37759;
  }
  
}

/*select menu*/

.select-menu {
  width: 100%;
  margin: auto;
}

.select-menu .select-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #fff;
  color: #333;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px;
}

.select-menu .icon-arrow {
  font-size: 20px;
  transition: 1s;
}

.select-btn.active .icon-arrow {
  transform: rotate(180deg);
}

.select-menu .list {
  position: absolute;
  width: 148px;
  transform: translateY(-10px);
  padding-left: 0;
}

.list .option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background: #fff;
  cursor: pointer;
  color: #333;
  transform-origin: top;
  transform: scale(0) translateY(-30px);
  margin-bottom: -30px;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out, margin-bottom .5s ease-in-out;
  transition-delay: calc(.1s * var(--i));
  opacity: 1;

}

.select-btn.active~.list .option {
  transition: opacity 1s ease-in-out, transform .5s ease-in-out, margin-bottom .2s ease-in-out;
  transition-delay: calc(.1s * var(--i));
  opacity: 1;
  transform: scale(1) translateY(0);
  margin-bottom: 0;
}

.list .option:hover {
  background: #f2f2f2;
}

.list .option:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list .option:nth-child(4) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.option .option-text {
  font-size: 12px;
  color: #333;
  margin-left: 10px;
}

/*titles*/

h1,
.h1 {
    font-weight: 700;
    margin: auto;
}

h3,
.h3 {
    margin: auto;
    text-transform: uppercase;
}

/*header*/


.logo {
    font-size: 18px;
    text-decoration: none;
    color: white ;
    font-weight: 600;
    margin-right: 8px;
}

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    background: black;
    
}

header .navigation a, .button.x {
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 8px;
    transition: .3s;
}

header .navigation a {
  color: #fff;
}

header .navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

header .button.x {
  border: 1px solid orange;
  background: transparent;
  text-decoration: none;
  color: orange;
  font-family : "Poppins", sans-serif;
}

@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
  }
  .logo {
    font-size: 25px;
    text-decoration: none;
    color: white ;
    font-weight: 600;
  }
  header .navigation a {
    font-size: 18px;
    margin-left: 35px;
  }
  header .navigation a:hover,
  a:active {
      color : #14f5f5;
  }
}

@media (max-width: 480px) {
  .button.x {
      max-width: 100%;
  }
  header .navigation a, .button.x {
    visibility: hidden;
  }
}

/*sections*/

@media screen and (min-width: 1024px) {
  section {
    min-height: 100vh;
  }
}

/*about us*/

.about-us {
    display: block;
    margin-left: 1rem;
    margin-right: 5rem;
}

.about-us h1 {
    padding-top: 9rem;
    padding-bottom: 1rem;
}

.about-us h3 {
    padding-bottom: 1rem;
}


/*login*/

/*.login {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;;
}*/
  
  /*services*/

.services {
    padding-top: 1rem;
  }

  .services h1 {
    padding-bottom: 1rem;
    color: rgb(209, 3, 3);
}

  .services {
    text-align: center;
  }

  .service-icon {
    width: 8%;
    margin: 0 auto;
    display: block;
  }

  .service-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .service-content h3 {
    color:#14f5f5
  }

  .service-content p {
    padding: 0 8rem;
  }

  /*join us*/

  .join-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .join-us p {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  /* From Uiverse.io by TreepDeep */ 
    .button.y {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(86, 98, 246, 0.25);
    gap: 0.75rem;
    color: #ffffff;
    background-color: #5662f6;
    cursor: pointer;
    transition: all 0.6s ease;
    text-decoration: none;
  }
  
  .button.y svg {
    height: 24px;
    width: 24px;
    fill: #fff;
    margin-right: 0.5rem;
  }
  
  .button.y:hover {
    transform: scale(1.02);
    background-color: rgb(119, 133, 204);
    box-shadow: 0 2px 4px rgba(119, 133, 204, 0.1);
  }
  
  .button.y:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .button.y:active {
    transform: scale(0.98);
    opacity: 0.8;
  }
  
  @media (max-width: 480px) {
    .button.y {
      max-width: 100%;
    }
  }
  
/*footer*/

footer .grid {
    font-size: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
