* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 60.5%;
}

/*body*/

body {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  font-family: "Poppins",Arial, sans-serif;
  background: #aaaaaa;
  color: white;
}

/*background*/

body {
  background: #000;
}


/*select menu*/

.select-menu {
width: 100%;
margin: auto;
font-weight: 500;
}

.select-menu .select-btn {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
height: 30px;
background: #fff;
color: #333;
font-size: 12px;
padding: 10px;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 0 5px;
}

.select-menu .icon-arrow {
font-size: 20px;
transition: 1s;
}

.select-btn.active .icon-arrow {
transform: rotate(180deg);
}

.select-menu .list {
position: absolute;
width: 163px;
transform: translateY(-10px);
padding-left: 0;
}

.list .option {
display: flex;
align-items: center;
width: 100%;
height: 30px;
background: #fff;
cursor: pointer;
color: #333;
transform-origin: top;
transform: scale(0) translateY(-30px);
margin-bottom: -30px;
transition: opacity .5s ease-in-out, transform .5s ease-in-out, margin-bottom .5s ease-in-out;
transition-delay: calc(.1s * var(--i));
opacity: 1;
}

.select-btn.active~.list .option {
transition: opacity 1s ease-in-out, transform .5s ease-in-out, margin-bottom .2s ease-in-out;
transition-delay: calc(.1s * var(--i));
opacity: 1;
transform: scale(1) translateY(0);
margin-bottom: 0;
}

.list .option:hover {
background: #f2f2f2;
}

.list .option:nth-child(1) {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.list .option:nth-child(4) {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.option .option-text {
font-size: 12px;
color: #333;
margin-left: 10px;
text-decoration: none;
font-weight: 500;
}

.option .option-btn {
font-family: "Poppins", sans-serif;
background:#000;
border: solid 2px #14f5f5;
border-radius: 0px;
font-size: 12px;
text-decoration: none;
font-weight: 500;
margin-left: 10px;
color: #fff;
}

/*titles*/

h1,
.h1 {
  font-weight: 700;
}

.services h3,
.h3 {
  margin: auto;
  text-transform: uppercase;
}

/*header*/

.logo {
  font-size: 18px;
  text-decoration: none;
  color: white ;
  font-weight: 600;
  margin-right: 8px;
}

header {
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: black;
  border-bottom: 1px solid #14f5f5;
  
}

@media screen and (min-width: 790px) {
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
}
.logo {
  font-size: 25px;
  text-decoration: none;
  color: white ;
  font-weight: 600;
}
header .navigation a:hover,
a:active {
    color : #14f5f5;
}
header .navigation a, .button.x {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

header .navigation a {
color: #fff;
}

header .navigation {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

header .button.x {
cursor: pointer;
border: 2px solid #14f5f5;
background: transparent;
text-decoration: none;
color: #14f5f5;
font-family : "Poppins", sans-serif;
}
}

@media (max-width: 780px) {
.button.x {
    max-width: 100%;
}
header .navigation a, .button.x {
  visibility: hidden;
  font-size: 5px;
}
}

@media screen and (min-width: 790px) {
.select-menu {
  visibility: hidden;
}
header {
  width: 100%;
  display: flex;
  padding: 0 30px;
  padding-top: 30px;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: black;
}
}

/*sections*/


/*img wow*/

.content-img {
  width: 100%;
  height: 250px;
  position: relative;
}

.img-wow {
width: 100%;
height: 250px;
object-fit: cover;
}

.img-illustration {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .content-img {
    height: 400px;
  }
  
  .img-wow {
    height: 400px;
  }

  .img-illustration {
    height: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .img-illustration {
    width: 100%;
    height: 600px;
  }
  .right-img {
    display: flex;
    align-items: center;
  }
  .about-us .content {
    width: 40%;
  }

  .container-img {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}

/*about us*/

@media (max-width: 780px) {
  .about-us .content {
    margin: 0 2rem;
  }
    }

.about-us .section-title {
font-size: 25px;
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%, -50%);
background: #00000096;
text-align: center;

}

.about-us .about-title {
  font-size: 25px;
  padding-bottom: 1rem;
  text-transform: none;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.about-us p {
display: flex;
justify-content: space-around;
}

.about-us h3 {
  padding-bottom: 1rem;
}

.about-us .content {
  margin: 0 2rem;
}

  .button.discord {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(86, 98, 246, 0.25);
    gap: 0.75rem;
    color: #ffffff;
    background-color: #5662f6;
    cursor: pointer;
    transition: all 0.6s ease;
    text-decoration: none;
}

.button.discord svg {
    height: 24px;
    width: 24px;
    fill: #fff;
    margin-right: 0.5rem;
}

.button.discord:hover {
    transform: scale(1.02);
    background-color: rgb(119, 133, 204);
    box-shadow: 0 2px 4px rgba(119, 133, 204, 0.1);
}

.button.discord:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.button.discord:active {
    transform: scale(0.98);
    opacity: 0.8;
}

    .button-access {
      padding: 4rem 0;
      max-width: 100%;
      display: flex;
      justify-content: center;
    }

@media screen and (min-width: 800px) {
  .about-us .section-title {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    background: #00000096;
    text-align: center;
    }
  .about-us .about-title {
    font-size: 50px;
    text-align: center;
    padding: 0;
  }
  .about-us p {
    font-size: 18px;
  }
  .about-us .content {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-bottom: 6rem;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 800px) {
  .about-title h1 {
    font-size: 50px;
  }
}

/*login*/

/*.login {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;;
}*/

/*services*/

/*join us*/

.join-us h1 {
  font-size: 25px;
  padding-bottom: 2rem;
}

.join-us {
  padding-top: 2  rem;
  display: flex;
  align-items: center;
  flex-direction: column; 
  padding-bottom: 5rem;
}

.join-us p {
  margin: 0 20px 2rem;
  text-align: center;
}

.join-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

/* From Uiverse.io by TreepDeep */ 
  .button.y {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(86, 98, 246, 0.25);
  gap: 0.75rem;
  color: #ffffff;
  background-color: #5662f6;
  cursor: pointer;
  transition: all 0.6s ease;
  text-decoration: none;
}

.button.y svg {
  height: 24px;
  width: 24px;
  fill: #fff;
  margin-right: 0.5rem;
}

.button.y:hover {
  transform: scale(1.02);
  background-color: rgb(119, 133, 204);
  box-shadow: 0 2px 4px rgba(119, 133, 204, 0.1);
}

.button.y:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.button.y:active {
  transform: scale(0.98);
  opacity: 0.8;
}

@media screen and (min-width: 800px) {

  .join-us {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    justify-content: center
  }
  .join-us h1 {
    font-size: 50px;
    text-transform: none;
  }
  .join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1250px) {
  .join-us {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .join-item h1 {
    margin: none;
    font-size: 100px;
    text-transform: none;
  }
  .join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .join-us p {
    font-size: 18px;
    margin: 0 5rem 5rem;
  }
}

/*footer*/

footer .grid {
  font-size: 80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 790px) {
  footer .grid {
    font-size: 14px;
    justify-content: space-between;
    margin: 0 10px
  }
 }