* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 60.5%;
}

/*body*/

body {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    font-family: "Poppins",Arial, sans-serif;
    background: #aaaaaa;
    color: white;
}

/*background*/

body {
    background-image: url(../images/c20126cc3de739219e32dc2aeafe64b4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4x);
    -ms-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px)

}

@media screen and (min-width: 1024px) {
  body {
    background-image: none;
    background-color: #a37759;
  }
  
}

/*titles*/

h1,
.h1 {
    font-weight: 700;
    margin: auto;
}

h3,
.h3 {
    margin: auto;
    text-transform: uppercase;
}

/*header*/


.logo {
    font-size: 18px;
    text-decoration: none;
    color: white ;
    font-weight: 600;
}

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    background: black;
    
}

header .navigation a {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 8px;
    transition: .3s;
}

header .navigation a:hover,
a:active {
    color : #14f5f5;
}

@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
  }
  .logo {
    font-size: 25px;
    text-decoration: none;
    color: white ;
    font-weight: 600;
  }
  header .navigation a {
    font-size: 18px;
    margin-left: 35px;
  }
}

/*sections*/

@media screen and (min-width: 1024px) {
  section {
    min-height: 100vh;
  }
}

/*about us*/

.about-us {
    display: block;
    margin-left: 1rem;
    margin-right: 5rem;
}

.about-us h1 {
    padding-top: 9rem;
    padding-bottom: 1rem;
}

.about-us h3 {
    padding-bottom: 1rem;
}


/*login*/

.login {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;;
}
  
  /*services*/

.services {
    padding-top: 1rem;
  }

  .services h1 {
    padding-bottom: 1rem;
    color: rgb(209, 3, 3);
}

  .services {
    text-align: center;
  }

  .service-icon {
    width: 8%;
    margin: 0 auto;
    display: block;
  }

  .service-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .service-content h3 {
    color:#14f5f5
  }

  .service-content p {
    padding: 0 8rem;
  }

  /*join us*/

  .join-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .join-us p {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  /* From Uiverse.io by TreepDeep */ 
    .button.y {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(86, 98, 246, 0.25);
    gap: 0.75rem;
    color: #ffffff;
    background-color: #5662f6;
    cursor: pointer;
    transition: all 0.6s ease;
    text-decoration: none;
  }
  
  .button.y svg {
    height: 24px;
    width: 24px;
    fill: #fff;
    margin-right: 0.5rem;
  }
  
  .button.y:hover {
    transform: scale(1.02);
    background-color: rgb(119, 133, 204);
    box-shadow: 0 2px 4px rgba(119, 133, 204, 0.1);
  }
  
  .button.y:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .button.y:active {
    transform: scale(0.98);
    opacity: 0.8;
  }
  
  @media (max-width: 480px) {
    .button.y {
      max-width: 100%;
    }
  }
  
/*footer*/

footer .grid {
    font-size: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}